@use "./base.scss";

// put your custom CSS here!

/* 图片居中 */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* 高亮美化 */
.text-highlight {
	background-color:#3463ffce;
    color: white;
	border-radius: 5px;
	padding: 2px;
}
